@font-face {
  font-family: Avenir;
  src: url(../fonts/Avenir-Book.ttf);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Avenir;
  src: url(../fonts/Avenir-Heavy.ttf);
  font-weight: 900;
  font-style: normal;
}

body {
  margin: 0;
}

.page {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 0 0;

  font-family: Avenir, Arial, sans-serif;
  font-weight: 300;
}

.search {
  display: flex;
  align-items: center;
  margin: 0;
  margin-inline: 8px;
  padding: 24px;
  box-sizing: border-box;

  border: 1px solid #e1e7ed;
  background-color: #fff;
}

.search__input {
  flex: 1;
  border: none;

  font-size: 16px;
  line-height: 20px;
  font-weight: 300;
  background: transparent;
}

.search__input::placeholder {
  color: #3d4e61;
}

.search__input:hover {
  box-shadow: none;
}

.search__icon {
  width: 19px;
  height: 19px;
  margin-right: 26px;

  background-image: url(../images/Search.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.search--small .search__input {
  font-size: 14px;
}

.search--small .search__icon {
  width: 11px;
  height: 11px;
  margin-right: 13px;
}

.search--big {
  border-radius: 4px;
}

.search--small {
  padding: 10px 16px;
  border-radius: 4px;
}

.search:hover {
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.25);
  border-color: #e1e7ed;
}

.search:focus-within {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border-color: #e1e7ed;
}

.search__input:focus {
  outline: none;
}
